*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input{
    width: 100%;
    margin-top: 10px;
    padding: 14px;
}

#node-at-head-button, #node-at-tail-button, #print-node-by-index-button,
#print-entire-linked-list-button, #clear-node-by-index-button{
    background-color: #273c75;
    padding: 14px;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    width: 49%;
}

#clear-entire-linked-list-button{
    width: 100%;
    background-color: #44bd32;
    padding: 14px;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    /* position: relative;
    left: 35%; */
}